.dialog {
  background: #171717;
  border: 1px solid #333;
  color: white;
  padding: 0;
  width: 330px;
  height: 240px;
}

.dialog::backdrop {
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 24px;
  border-bottom: 1px solid #333;
}

.content {
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  height: calc(100% - 50px);
  justify-content: space-between;
}

@media (min-width: 768px) {
  .dialog {
    width: 378px;
    height: 228px;
  }
}
