.container {
  display: flex;
  flex-direction: column;
  max-width: 315px;
  width: 100%;
}

.container.disabledContainer .label {
  color: var(--dark-100);
  cursor: default;
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  color: var(--light-900);
  cursor: pointer;
  transition: color 0.2s ease;
}

.inputWrapper {
  display: flex;
  align-items: center;
  border: 1px solid var(--dark-100);
  border-radius: 2px;
  padding: 6px 12px;
  width: 100%;
  height: 36px;
  transition:
    all 0.2s ease,
    border 0.05s ease;
}

.inputWrapper:not(.disabled):hover {
  border: 1px solid var(--light-900);
}

.inputWrapper:focus-within {
  border: 2px solid var(--accent-700);
}

.inputWrapper.disabled {
  border: 1px solid var(--dark-100);
  cursor: not-allowed;
}

.inputWrapper.error {
  border: 1px solid var(--danger-500);
}

.inputWrapper.error:focus-within {
  border: 2px solid var(--danger-500);
}

.inputWrapper:not(.disabled):active {
  border: 1px solid var(--light-100);
}

.input {
  flex: 1;
  padding: 6px 12px;
  background: transparent;
  border: none;
  outline: none;
  color: var(--light-100);
  font-family: inherit;
}

.input::placeholder {
  color: var(--light-900);
}

.input:disabled {
  cursor: not-allowed;
}

.iconLeft,
.iconRight {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease;
}

.iconLeft:active:not(:disabled) {
  color: var(--light-100);
}

.iconLeft {
  color: var(--light-900);
}

.iconRight {
  color: var(--light-100);
}

.iconLeft:disabled,
.iconRight:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.inputWrapper:focus-within .iconLeft {
  color: var(--light-100);
}

.errorMessage {
  color: var(--danger-500);
}
