.wrapper {
  --select-width: 180px;
  --select-height: 36px;

  display: inline-flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
}

.label {
  font-size: 14px;
  display: block;
  color: var(--light-900);
  padding-bottom: 2px;
}

.trigger {
  all: unset;
  box-sizing: border-box;
  min-width: var(--select-width);
  height: var(--select-height);
  padding: 6px 42px 6px 12px;
  display: inline-flex;
  align-items: center;
  border: 1px solid var(--dark-100);
  border-radius: 2px;
  background: var(--dark-700);
  color: var(--light-100);

  /* font-size: 14px; */
  cursor: pointer;
  position: relative;
  font-size: 16px;
}

.trigger:not([data-disabled]):hover {
  background: var(--dark-500);
  border-color: var(--dark-100);
}

.trigger[data-state="open"] {
  background: var(--dark-700);
  border-color: var(--light-100);
}

.trigger:focus-visible {
  outline: 2px solid var(--accent-500);
}

.trigger[data-disabled],
.trigger[aria-disabled="true"] {
  cursor: not-allowed;
  color: var(--dark-100);
  border-color: var(--dark-500);
  background: var(--dark-700);
}

.imageIcon {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
}

.itemInner {
  display: flex;
  align-items: center;
  gap: 8px;
}

.iconLeft {
  width: 20px;
  height: 20px;
  display: inline-flex;
  pointer-events: none;
  margin-right: 12px;
}

.icon {
  position: absolute;
  width: 24px;
  height: 24px;
  right: 10px;
  display: inline-flex;
  pointer-events: none;
}

.icon svg {
  transition: transform 0.15s ease;
}

/* Переворачивает стрелку на 180° когда открывается селект. */
.trigger[data-state="open"] .icon svg {
  transform: rotate(180deg);
}

/* Добавлен скролл, если опций больше трёх */
.viewport {
  max-height: calc(var(--select-height, 36px) * 3);
  overflow-y: auto;
}

.content {
  background: var(--dark-500);
  border: 1px solid var(--light-300);
  min-width: var(--radix-select-trigger-width); /* Эту переменную динамически создает Radix. */
  overflow: hidden;
  z-index: 20;
}

.item {
  font-size: 16px;
  min-height: var(--select-height, 36px);
  height: auto;
  padding: 8px 12px;
  cursor: pointer;
  color: var(--light-100);
  display: flex;
  align-items: center;
  border: none;
  outline: none;
}

.item:focus {
  background: var(--dark-300);
}

.item[data-highlighted] {
  background: var(--dark-300);
}

.item[data-state="checked"] {
  color: var(--accent-300);
}

.item[data-disabled] {
  color: var(--dark-300);
  cursor: not-allowed;
}
