.container {
  max-width: 972px;
  margin: 0;
  padding: 36px 0 0;
}

@media (width <= 768px) {
  .container {
    margin: 0 auto;
    padding: 24px 0 0;
  }
}

@media (width <= 480px) {
  .container {
    padding: 24px 0 0;
  }
}
