.container {
    max-width: 1200px;
    margin: 60px auto 0;
    margin-left: 250px;
    padding: 36px 64px 0 24px;
}

@media (max-width: 768px) {
    .container {
         margin: 60px auto 0;
        padding: 24px 16px 0;
    }
}

@media (max-width: 480px) {
    .container {
       padding: 24px 6px 0;
    }
}