@import url("@/app/styles/vars.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1280px;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

ul {
  list-style: none;
}

/* main { */

/*  flex-grow: 1; */

/*  display: flex; */

/*  flex-direction: column; */

/* } */

.large {
  font-size: 26px;
  line-height: 36px;
  font-weight: 600;
}

.h1 {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
}

.h2 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

.h3 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

.regular_text_16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.bold_text_16 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
}

.regular_text_14 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.medium_text_14 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.bold_text_14 {
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
}

.small_text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.semi_bold_small_text {
  font-size: 12px;
  line-height: 16px;
  font-weight: 600;
}

.regular_link {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: var(--accent-500);
  text-decoration: underline;
  cursor: pointer;
}

.small_link {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: var(--accent-500);
  text-decoration: underline;
  cursor: pointer;
}
