.container {
  width: 100%;
  min-height: 100%;
  padding: 0 var(--app-page-gutter-mobile);
  margin: 0 auto;
}

@media (width >= 769px) {
  .container {
    max-width: var(--app-main-max-width);
    padding: 0 var(--app-page-gutter);
  }
}
