.header {
  background-color: var(--dark-700);
  padding: 12px 0 11px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-bottom: 1px solid var(--dark-300);
}

.controls {
  display: flex;
  gap: 36px;
}

.btn_group {
  display: flex;
  gap: 24px;
}

@media screen and (width >= 769px) {
  .menuIcon {
    display: none;
  }
}
