.root {
  display: inline-flex;
}

.trigger {
  min-width: 42px;
  width: 42px;
  height: 24px;
  padding: 0 18px 0 0;
  border: none;
  border-radius: 0;
  background: transparent;
}

.trigger:not([data-disabled]):hover {
  background: transparent;
  border-color: transparent;
}

.trigger[data-state="open"] {
  background: transparent;
  border-color: transparent;
}

.trigger:focus-visible {
  outline: 2px solid var(--accent-500);
  outline-offset: 2px;
}

.optionVisual {
  width: 24px;
  height: 24px;
  margin-right: 0;
}

.image {
  width: 24px;
  height: 24px;
}

.value {
  display: none;
  color: var(--light-100);
  font-size: 16px;
  line-height: 24px;
}

.icon {
  right: 0;
  width: 16px;
  height: 16px;
  color: var(--light-100);
}

.icon svg {
  width: 16px;
  height: 16px;
}

@media screen and (width >= 769px) {
  .trigger {
    min-width: 163px;
    width: 163px;
    height: 36px;
    padding: 0 36px 0 12px;
    border: 1px solid var(--dark-100);
    border-radius: 2px;
    background: var(--dark-700);
  }

  .trigger:not([data-disabled]):hover {
    background: var(--dark-500);
    border-color: var(--dark-100);
  }

  .trigger[data-state="open"] {
    background: var(--dark-700);
    border-color: var(--light-100);
  }

  .optionVisual {
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }

  .image {
    width: 20px;
    height: 20px;
  }

  .value {
    display: inline;
  }

  .icon {
    right: 6px;
    width: 24px;
    height: 24px;
  }

  .icon svg {
    width: 24px;
    height: 24px;
  }
}
