.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0 auto;
  margin-top: 77px;
  width: 100%;
  max-width: 378px;
}

.social_icon {
  cursor: pointer;
}

.icon_group {
  display: flex;
  gap: 60px;
  padding-top: 12px;
}

.github_icon {
  width: 36px;
  height: 36px;
  cursor: pointer;
}

.input_conf {
  min-height: 60px;
  display: block;
  position: relative;
  min-width: 330px;
}

.input_group {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 330px;
}

.password_container {
  display: flex;
  flex-direction: column;
}

.forgot_password {
  align-self: flex-end;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--light-900);
  cursor: pointer;
  margin-bottom: 24px;
  margin-top: 36px;
}

.button_group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.button_conf {
  width: 330px;
  height: 36px;
}

.registration_prompt {
  margin-top: 18px;
}

.outlined_button_conf {
  width: 330px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid transparent;
  transition:
    border-color 0.25s ease,
    color 0.25s ease,
    background-color 0.25s ease;
}

.outlined_button_conf:hover {
  border-color: currentcolor;
}

@media (width >= 378px) {
  .content {
    border: 1px solid var(--dark-300);
    background-color: var(--dark-500);
    padding: 24px;
    border-radius: 2px;
    margin-top: 84px;
  }
}
